body {
    font-family: "微软雅黑";
    background-color: #f4f4f4;
    color: #444;
}

a {
    text-decoration: none;
    color: #222;
}

a:focus, a:hover {
    color: #69ad19;
}

aside, main {
    background-color: #fff;
    margin-bottom: 20px;
}

header {
    margin-bottom: 20px;
}

header .border-bottom-shadow{
    display: block;
    height: 10px;
    background-image: url(../images/head-bj.jpg);
}

footer {
    margin-top: 20px;
    background-color: #fcfcfc;
    border-top: 1px #ddd solid;
    padding: 20px 0 0 0;
    color: #aaa;
    clear: both;
}

footer a {
    color: #aaa;
}

footer .header {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 2.5em;
    padding-left: 20px;
    margin-left: -20px;
}

.footer-copy {
    padding: 20px 0;
    text-align: center;
    background-color: #fff;
}

.b-r {
    border-right: 1px #ddd solid;
}

.text-center{
    text-align: center;
}

