body {
    font-family: "微软雅黑";
    background-color: #f4f4f4;
    color: #444;
}

a {
    text-decoration: none;
    color: #222;
}

a:focus, a:hover {
    color: #69ad19;
}

aside, main {
    background-color: #fff;
    margin-bottom: 20px;
}

header {
    margin-bottom: 20px;
}

header .border-bottom-shadow{
    display: block;
    height: 10px;
    background-image: url(../images/head-bj.jpg);
}

footer {
    margin-top: 20px;
    background-color: #fcfcfc;
    border-top: 1px #ddd solid;
    padding: 20px 0 0 0;
    color: #aaa;
    clear: both;
}

footer a {
    color: #aaa;
}

footer .header {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 2.5em;
    padding-left: 20px;
    margin-left: -20px;
}

.footer-copy {
    padding: 20px 0;
    text-align: center;
    background-color: #fff;
}

.b-r {
    border-right: 1px #ddd solid;
}

.text-center{
    text-align: center;
}

.chaxun-jg{
    border: 1px #dbdbdb solid;
    background-repeat: repeat-x;
    background-image: url(icon/chaxun.gif);
}


.sousuo{
    padding-left: 25px;
    font-size: 1.3em;
}

.sousuo-1{
    line-height:40px;
    border-bottom: 1px #e9e7e7 solid;
}

table{
    table-layout:fixed;
    empty-cells:show;
    border-collapse: collapse;
    margin:0 auto;
}
td{
    height:40px;
    text-align: center;
}

table.tab_css_1{
    border:1px solid #cad9ea;
    color:#666;
}
table.tab_css_1 th {
    background-color: #e4e4e4;
    text-align: center;
    height:40px;
}
table.tab_css_1 td,table.tab_css_1 th{
    border:1px #ddd solid ;
    padding:0 1em 0;
}
table.tab_css_1 tr.tr_css{
    background-color:#efefef;
}

.mail-peizhi-tr td{
    border-bottom: 1px #e7e7e7 solid;
}
.mail-peizhi-td{
    border-right: 1px #e7e7e7 solid;
    background-color: #fafafa;
    font-size: 1.3em;
    color: #000;
    font-weight: 900;
    text-align: right;
}
.mail-peizhi-td1{
    font-size: 1.2em;
    text-align: left;
}