body {
    font-family: "微软雅黑";
    background-color: #f4f4f4;
    color: #444;
}

a {
    text-decoration: none;
    color: #222;
}

a:focus, a:hover {
    color: #69ad19;
}

aside, main {
    background-color: #fff;
}

header {
    margin-bottom: 20px;
}

header .border-bottom-shadow{
    display: block;
    height: 10px;
    background-image: url(../images/head-bj.jpg);
}

footer {
    margin-top: 20px;
    background-color: #fcfcfc;
    border-top: 1px #ddd solid;
    padding: 20px 0 0 0;
    color: #aaa;
}

footer a {
    color: #aaa;
}

footer .header {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 2.5em;
    padding-left: 20px;
    margin-left: -20px;
}

.footer-copy {
    padding: 20px 0;
    text-align: center;
    background-color: #fff;
}

.b-r {
    border-right: 1px #ddd solid;
}

.login{
    background-color: #ffffff;

}
.line{
   border-bottom: 2px #bbbbbb solid;
   padding-top: 100px;
   margin: 0 40px;
   margin-bottom: 100px;


}

.icon-line-1 p{
   margin: 5px 7px 5px 13px;
   font-size: 1.5em;
   color: #ffffff;
   font-weight: 700;
}

.icon-line-2 p{
    margin: 5px 5px 5px 10px;
    font-weight: 700;
    font-size: 1.5em;
    color: #ffffff;
}
.login-main{
    border-right: 1px #dddddd solid;

}
label{
    margin: 0.5em 0;
    font-size: 1.2em;
    text-align: center;
    font-weight: 300;
    color: #666;
}

.login-mail{
    margin-top: 15px;
}