/*
cl-
bg-cl-
*/

.cl-gray {
    color: #999;
}

.cl-black {
    color: #000
}

.cl-blue-light {
    color: #3692d2;
}

.bg-cl-white {
    background-color: #fff;
}

.cl-red {
    color: #ff0000
}

.bg-cl-gray-light {
    background-color: #f6f6f6;
}

.cl-green{
    color: #008000;
}