.icon{
    background-repeat: no-repeat;
    background-position: left center;
}
.icon-bj{
    background-repeat: no-repeat;
    background-position: top center;
}
.icon-top{
    background-repeat: no-repeat;
    background-position: top center;
}

.icon-map-list-1{
    background-image: url(icon/map-list-icon-1.jpg);
}

.icon-map-list-2{
    background-image: url(icon/map-list-icon-2.jpg);
}

.icon-map-list-3{
    background-image: url(icon/map-list-icon-3.jpg);
}

.icon-step{
    background-image: url(icon/step-2.gif);
    color: #fff;
    font-weight: 900;
    line-height: 36px;
    display: block;
}
.icon-login{
    background-image: url(icon/icon-bj.jpg);
    height: 330px;
}

.icon-step.active{
    background-image: url(icon/step-1.gif);
}
.icon-side-menu{
    background-image:url(icon/icon-side-menu.gif);

}

.icon-sousuo{
    background-image:url(icon/sousuo.gif);
}
.icon-help-content{
    background-image:url(icon/icon-help.jpg);
}

.icon-help-content1{
    background-image:url(icon/icon-help1.jpg);
}
.icon-help-content2{
    background-image:url(icon/icon-help2.jpg);
}
.icon-help-content3{
    background-image:url(icon/icon-help3.jpg);
}
.icon-help-content4{
    background-image:url(icon/icon-help4.jpg);
}
.icon-help-content5{
    background-image:url(icon/icon-help5.jpg);
}
.icon-help-content6{
    background-image:url(icon/icon-help6.jpg);
}
.icon-help-content7{
    background-image:url(icon/icon-help7.jpg);
}
.icon-ok{
    background-image:url(icon/icon-ok.jpg);
}
.icon-no{
    background-image:url(icon/icon-no.jpg);
}
.icon-jinggao{
    background-image:url(icon/icon-jinggao.jpg);
}
.icon-tishi{
    background-image:url(icon/tishi.jpg);
}
.icon-cp{
    background-image:url(icon/ico-cp.jpg );
    padding-left: 12px;
}