.icon{
    background-repeat: no-repeat;
    background-position: left center;
}

.icon-top{
    background-repeat: no-repeat;
    background-position: top center;
}

.icon-map-list-1{
    background-image: url(icon/map-list-icon-1.jpg);
}

.icon-map-list-2{
    background-image: url(icon/map-list-icon-2.jpg);
}

.icon-map-list-3{
    background-image: url(icon/map-list-icon-3.jpg);
}

.icon-step{
    background-image: url(icon/step-2.gif);
    color: #fff;
    font-weight: 900;
    line-height: 36px;
    display: block;
}

.icon-step.active{
    background-image: url(icon/step-1.gif);
}
