.top-menu {
    color: #999;
    line-height: 2.5em;
    border-bottom: 1px #ccc solid;
}

.top-menu a {
    margin-left: 1em;
}

.main-menu-wrap {
    background-color: #fff;
}

.main-sub-menu {
    padding: 10px 0;
}

.main-menu {

}

.main-menu a {
    font-size: 1.4em;
    color: #222;
    margin-left: 1em;
}

.main-menu a.active {
    color: #69ad19;
    border-bottom: 2px #69ad19 solid;
    padding-bottom: 0.3em;
}

.side-menu-1,
.side-menu-2 {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
}

.side-menu-1 a{
    display: block;
    font-size: 1.2em;
    line-height: 2.5em;
    border-bottom: 1px #eee solid;
}



.side-menu-1 a:hover {
    background-color: #fbfbfb;
}

.side-menu-1 .header {
    background-color: #69ad19;
    color: #fff;
    font-size: 1.5em;
    text-align: left;
    padding: 0.5em 1.5em;
}

.side-menu-2 a{
    text-align: left;
    display: block;
    font-size: 1em;
    line-height: 2.5em;
    border-bottom: 1px #eee solid;
}

.side-menu-2 .header {
    /*background-color: #69ad19;*/
    /*color: #fff;*/
    font-size: 1.5em;
    text-align: left;
    padding: 0.3em 0;
    border-bottom: 2px #69ad19 solid;
    margin-bottom: 5px;
}

.article {
    margin: 20px;
}

.article .article-header {
    text-align: center;
    border-bottom: 1px #ddd solid;
    padding-bottom: 20px;
}

.article h1 {
    font-size: 2em;
    line-height: 2.5em;
}

.article .title-span span {
    color: #aaa;
    margin: 0 0.5em;
}

.article .article-body {
    margin: 20px 0;
}

.article .article-body p {
    text-indent: 2em;
    line-height: 2em;
    font-size: 1.2em;
}

.map-list {
    margin: 0 auto;
    display: block;
    width: 90px;
    list-style: none;
}

.map-list-right {
    margin: 0 auto;
    display: block;
    list-style: none;
    margin-left: 20px;
    margin-right: 0;
}

.map-list-right dt {
    color: #69ad19;
    font-weight: 900;
}

.map-list-right dd {
    margin-left: 0;
    margin-right: 0;
    white-space: nowrap;
}

.map-list a {
    display: block;
    line-height: 2em;
}

.step-nav {
    margin: 0 auto;
    /*background-color: #ccc;*/
    float: none;
    border-bottom: 2px #bbbbbb solid;
    padding-top: 60px;
    margin-bottom: 80px;
}

.step-item {
    font-size: 1.2em;
    margin-bottom: -38px;
    text-align: center;
}

.register {
    margin: 0 auto;
    /*float: none;*/
}

.chaxun{
    padding-top: 50px;
}
.e-chaxun{
    background-color: #dbdbdb;
    padding: 10px 20px 3px 20px;
    font-size: 1.2em;
    font-weight: 900;
    color: #000;
}

.c-chaxun{
    font-size: 1.2em;
    margin-left: 10px;

}
.jiage{
    font-size: 1.3em;
}
.chaxun-input{
   background-color: #dbdbdb;

}
input.chaxun-input-1{
    line-height: 3em;
    margin: 10px 17px;
}
button.tijiao{
    margin-top: 10px;
    line-height: 40px;
    border: 0;
    background-color:#68ad19;
    color:#ffffff;
    font-size: 1.5em;
    font-family: 微软雅黑;
}

.remen{
    margin-top: 20px;
}

.chaxun-remen{
    font-size: 1.2em;
}

.chaxun-1{
    margin-top: 8px;


}

.chaxun-jg-1{
    margin:10px 20px 10px 20px;
}

select{
    margin-top: 13px;
}

.quanxuan{
    margin-top: 10px;
}

.gouwuche{
    margin-top: 15px;
}